<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>PEC</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        {% for project in last_law_projects %}
        <tr>
            <td>
                <a href="{% url 'propositions_by_id' politician.role|lower project.id %}">
                    {{ project.code }}
                </a>
            </td>
            <td>{{ project.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>